services:
  mysql:
    build: ./mysql/
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      - '3306:3306'

  pythonapp:
    build: ./python/
    #command: sh -c "sleep 15s ; python ./prueba.py"
    command: "tail -f /dev/null"
    depends_on:
      - mysql